[submodule "dolphin"]
	path = dolphin
	url = https://github.com/Frityet/dolphin
	branch = master
[submodule "aurora"]
	path = aurora
	url = https://github.com/frityet/aurora
	branch = codex/macos-compat
[submodule "decomp"]
	path = decomp
	url = https://github.com/Frityet/Petari
	branch = pcp-decomp
